.aboutme-row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: auto;
    gap: 20px;
    width: 60%;
    margin: 0 auto;
    margin: 0 auto 20px auto;
}

.aboutme-row.reverse {
    grid-template-columns: 2fr 1fr;
}

.aboutme-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 1;
}
