html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background-color: #EAE6E5;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Το main παίρνει ό,τι περισσεύει */
.Body {
  flex: 1;
  overflow: auto; /* αν έχει πολύ content, να κάνει scroll εδώ */
}

/* Footer κάτω */
.Footer {
  padding: 12px 16px;
}
